[Unit]
Description=MongoDB Database Server
Documentation=https://docs.mongodb.org/manual
After=network.target

[Service]
User=mongod
Group=mongod
Environment="OPTIONS=-f {{ mongodb_configuration.conf_file_path }}"
EnvironmentFile=-/etc/sysconfig/mongod
ExecStart=/usr/bin/mongod $OPTIONS
#ExecStartPre=/usr/bin/mkdir -p {{ mongodb_installation.base_directory }}
ExecStartPre=/usr/bin/chown mongod:mongod {{ mongodb_configuration.data_path }}
ExecStartPre=/usr/bin/chmod 0755 {{ mongodb_installation.base_directory }}
PermissionsStartOnly=true
PIDFile={{ mongodb_configuration.pid_file_path }}/mongod.pid
Type=simple
# file size
LimitFSIZE={{ mongodb_ulimit.limitfilesize }}
# cpu time
 LimitCPU={{ mongodb_ulimit.cpu_time }}
# virtual memory size
LimitAS={{ mongodb_ulimit.virtual_memory_size }}
# open files
LimitNOFILE={{ mongodb_ulimit.open_file }}
# processes/threads
LimitNPROC={{ mongodb_ulimit.preocess }}
# locked memory
LimitMEMLOCK={{ mongodb_ulimit.locked_memory }}
# total threads (user+kernel)
TasksMax={{ mongodb_ulimit.total_threads }}
TasksAccounting=false
# Recommended limits for for mongod as specified in
# http://docs.mongodb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target


